:root {
  --arcade-blue: #00eaff;
  --arcade-pink: #ff3be7;
  --arcade-purple: #9d4bff;
  --arcade-yellow: #ffe500;
  --arcade-bg: #0b0b14;
  --arcade-card-bg: rgba(15, 15, 30, 0.6);
  --muted-white: rgba(230, 241, 255, 0.95);
}

/* ==RESET== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}