* {
    padding: 0;
    margin: 0;
}

body {
    background-color: pink;
    overflow-x: hidden;
}

#section {
    display:block;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
    /* background-color:; */
    z-index: -2;
}

#bg-video {
    min-width: 100%;
    min-height: 90%;
    z-index: -1;
}
#bg-video video {
    width: 100%;
    height: 100vh;
}

#box200 {
    display: grid;
    position: absolute;
    height: 50vh;
    width: 50vw;
    background-color: transparent;
    left: 25vw;
    top: 20vh; 
    border: 5px solid rgb(105, 90, 4);
    justify-items: center;
    align-items: center;
}