* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

#bg-day {
    position:static;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
}

.content {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 0;
    background-color: red;
    z-index: 2;
}

.welcome {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}