* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgba(2,0,8,1);
    overflow-x: hidden;
}

#bg-video {
    position: fixed;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
    top: 0;
    z-index: -3;
}

#main-column {
    display: block;
    position: absolute;
    justify-self: center;
    width: 976px;
    min-height: 400vh;
    //background-color: rgba(90, 106, 255, 0.15);
}

.section {
    display: block;
    justify-self: center;
    position: relative;
    height: 100vh;
    width: 80%;
}
